<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DiaryRecord.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>030DB0C71E407381004E3532</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>030DB0DB1E407381004E3532</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>030DB0E61E407381004E3532</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>035D7BA11E48C36700F66B24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
